# Build and deploy this github action
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: Build and deploy distribution

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: true
      - name: Install
        run: npm ci
      - name: Test
        run: npm run-script test
      - name: Build distribution
        run: npm run-script build
      - name: Digest via action
        id: digest
        uses: ./
        with:
          image: ubuntu:latest
      - name: Digest via skopeo
        id: skopeo_digest
        run: echo "digest=$(skopeo inspect --format '{{.Digest}}' docker://ubuntu:latest 2>/dev/null  || true)" >> $GITHUB_OUTPUT
      - name: Verify digest
        if: ${{ steps.digest.outputs.digest != steps.skopeo_digest.outputs.digest }}
        run: echo "Digest differ" && exit 1
      - uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
        with:
          file_pattern: './dist/**'
          commit_message: Update distribution dir

